<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">/home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
<div class="container">
    <div class=sub>
    <div class="croprotation">CROPROTATION:</div>
        <p class="center">The number of plants might range from two or three in simple rotations to twelve or more in complex ones. 
            The average crop rotation cycle takes up to eight years. Greater soil fertility, fewer pests and crop diseases, and higher
             yields are just a few of the positive outcomes of rotation.</p>
        <p class="center">Benefits of Crop Rotations</p>
        <p class="center">Soil Properties
            Rotations that include crops such as legumes or perennial grasses can add considerable organic matter to the soil by 
            decomposition of above and below ground plant material. These roots maintain or increase soil humus (long-lasting organic matter).</p>
        <p class="center">For example, a farmer plants a corn crop, and when the harvest finishes, he might plant beans or any plant that
             returns nitrogen to the soil as Corn consumes the nitrogen from the ground. It's essential to choose the crop that returns 
             nitrogen to the earth and regains the soil nutrients. </p>
        <p class="center">Benefits of Crop Rotation:</p> 
        <p class="center"> Improve the work capacity of the soil</p>
        <p class="center">Reduce Soil crusting</p>   
        <p class="center">Improve crop Yields</p>    
        <p class="center">Reduce erosion and sedimentation</p>  
        <p class="center">Recycle plant nutrients in the soil</p>   
        <p class="center">Better distribution of labor by using different crops, planting dates, and harvest period</p> 
        <p class="center">Reduce fertilizer and insecticide inputs</p>
        <p class="center">Improves crop emergence, growth, and health</p>
        <p class="center">Reduces financial risk by using multiple crops</p>
        <p class="center">Avoid the problem of overproduction</p>
        <p calss="center">Improves air quality</p>
        <p class="center">Reduced fertilizer and pesticides inputs</p>
    </div>