<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
      </button>
      <ul class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
         <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Geography
      </button>
      <ul class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
         <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
         <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
         <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
         <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Practices
      </button>
      <ul class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
         <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
         <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
         <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
         <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
         <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
      </ul>
    </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
    <div class="con">
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSfHDe_Mzn3i2-Ve55LxxE5bolRiGmj3HDAcmOMedPiK2hGeFJHd1Q-e_aSUwpTWzMibI&usqp=CAU"/>
        <h1 class="head">Crop Rotation</h1>
        <p class="para">
           
        
        Crop rotation is the practice of gradually planting different crops on the same plot of land to optimize the nutrients in the soil, improve soil health, and combat the pressure of pests and weeds.
        </p>
        <h1 class="head1">Constraints Crop Rotation</h1>
        <ul >
            <li class="sec">Soil topography is prohibited from taking and growing more than one crop in a particular area</li>
            <li class="sec">Crop rotation is not always advisable</li>
            <li class="sec">Changing weather conditions and other accidents interfere with crop rotation</li>
            <li class="sec">The type of soil may generally be suitable only for certain crops</li>
            <li class="sec">Improper Implementation causes more harm than good</li>
            <li class="sec">Necessitates more skills and knowledge of the subject</li>
            <li class="sec">It requires more machinery. Certain crops need specific types of equipment, so farmers may have to invest in different types of machinery. ...</li>
            <li class="sec">It may give lower financial returns during certain times. ...</li>
        </ul>
    </div>