<div class="toolbar">
  <div class="menus">
  <a routerLink="../home">Home</a>
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Services
    </button>
    <ul class="dropdown-menu">
       <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
       <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Geography
    </button>
    <ul class="dropdown-menu">
       <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
       <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
       <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
       <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
       <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Practices
    </button>
    <ul class="dropdown-menu">
       <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
       <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
       <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
       <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
       <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
       <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
    </ul>
  </div>
  <a routerLink="../contactus">ContactUS</a>
  <a routerLink="../agriculture">Agricultures</a>
  <a routerLink="../impacts">Impacts</a>
  <a routerLink="../benefits">Benefits</a>
  <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
  <a routerLink="../about">Aboutus</a>
  <a routerLink="../graphs">Graphs</a>
  <a routerLink="../feedback">feedback</a>
  <a routerLink="../firstpage">LogOut</a>
  </div>
  </div>

  <div class="row">
   
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/chilli.jpg" class="card-img-top" alt="Crop 1">
          <div class="card-body">
            <h5 class="card-title">Crop 1</h5>
            <p class="card-text">Information about Crop <br>1.Andhra Pradesh, particularly the Guntur district, is famous for its chili pepper production and is home to one of the largest chili markets in Asia, the "Guntur Mirchi Yard." .</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/chillicrop2.jpg" class="card-img-top" alt="Crop 2">
          <div class="card-body">
            <h5 class="card-title">Crop 2</h5>
            <p class="card-text">Trading hub about Crop<br> 2.Mirchi Yard serves as a major trading hub for chili peppers, attracting buyers, sellers from various regions and Crop trade at Mirchi Yards is usually seasonal, with peak activity.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/chillicrop3.jpg" class="card-img-top" alt="Crop 3">
          <div class="card-body">
            <h5 class="card-title">Crop 3</h5>
            <p class="card-text">Auction System <br>3.In many Mirchi Yards, chili peppers are sold through a traditional auction system. Traders bid for different varieties and qualities of chilies, and the highest bidder wins the lot.</p>
          </div>
        </div>
      </div>
    </div>

<div class="container">
<p>
    >Our team had done a survey on crop rotation means how much the farmer get invested,how much land they are cultlivated,how much profit or loss they are getting ...etc.
so based upon these parameters we surveyed and we awareness the farmers regarding the crop rotation.
</p>
<p>we have done at mainly three locations.They are</p>
<ul>
<li>Chinnaturkapalem(Yalamandala)</li>
<li>Tippalapalem(Markapur)</li>
<li>Nandigama(Vizayawada)</li>
</ul>
<p>Based upon our survey the yielding rate is so different on these three locations.It have some basic parameters depend to get the level of fertility and yielding.</p>
<ul>
<li>Type of land,Rainfall,Temperature,Sunlight,Usage of Fertilizers and Insecticides etc..</li>
<p>The farmers will cultivate the crops mostly these crops are Mirchi,Cotton,Maize,Millet etc...</p>
<p>Analysis of the year 2023</p>
<ul>
<li>Land Details:Totally the village of chinnaturkapalem is occupied by 562 acres of crop lands.Majorly the farmers in turkapalem cultivates three crops.Cotton followed by chilli,Red gram</li>
</ul>
<ul>
<li>Farmer Details:There are totally 296 farmers and 46 tenents(BC population) No.of agriculture workers:758</li>
</ul>
<p>Market demand </p>
<ul>
<li>Cotton:The cotton has demand of 7200 at market.But due of unconditional rains it falls to 5000 only.</li>
</ul>
<ul>
<li>Chilli:The chilli has demand of 2000 to 2500.However it has some market rate.</li>
</ul>
<ul>
<li>Maize:The maize has demand per quintal:1700/quintal.But the government willing to purchases:2100/quintal</li>
</ul>
<p>Profit or loss</p>
<ul>
<li>Cotton:Cotton had loss in this year due to unconditional rains.</li>
</ul>
<ul>
<li>Mirchi:Due to rains mirchi also had loss</li>
</ul>
<ul>
<li>Maize:It had also damage</li>
</ul>
<p>We analysed that the crop has decreased their yielding capacity due to incredible use of fertilizers and insecticides year to year.In most of the cases the farmers got almost losses.</p>
<h3>Information about Mirchi Yard</h3>
<p> "Mirchi Yard" is a common term used in India to refer to a marketplace or yard where chili peppers (also known as "mirchi" in Hindi) are bought and sold. These yards are usually major trading centers for chili peppers, and farmers, wholesalers, retailers, and exporters come together to carry out the trade of this popular spice.Andhra Pradesh, particularly the Guntur district, is famous for its chili pepper production and is home to one of the largest chili markets in Asia, the "Guntur Mirchi Yard." This market is known for its vibrant trading activity and plays a significant role in the chili pepper industry.</p>
<div class="photo">
<img src="../../assets/Untitled.jpeg" alt="qr" width="10px" height="10px">
</div>
<!-- Add Bootstrap JS and jQuery links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
