<div class="matter"> 
    <img class="image" src="../../assets/crop-rotation-definition.png">
    <h1 class="head">Wrap-up</h1> 
    <p class="style">crop rotation, the successive cultivation of different crops in a specified order on the same fields, in contrast to a one-crop system or to haphazard crop successions.
    
        Throughout human history, wherever food crops have been produced, some kind of rotation cropping appears to have been practiced. One system in central Africa employs a 36-year rotation; a single crop of finger millet is produced after a 35-year growth of woody shrubs and trees has been cut and burned. In the major food-producing regions of the world, various rotations of much shorter length are widely used. Some of them are designed for the highest immediate returns, without much regard for the continuing usefulness of the basic resources. Others are planned for high continuing returns with protected resources.
    </p>
    </div>
