<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
<div class="container">
    <div class=sub>
    <div class="timeperiod">TIME PERIOD OF CROPS:</div>
    <p class="center">Food Crops- Rice, wheat, pulses, etc.</p>

    <p class="center">Crops- Tobacco, cotton, jute, etc.</p>
    
    <p class="center">Crops- Tea, coffee, rubber, etc.</p>
    
    <p class="center">crops- It includes fruits and vegetables.</p></div>