<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
<div class="container">
    <div class=sub>
    <img align="center" src="https://www.shutterstock.com/image-photo/plant-seeds-planting-trees-growththe-260nw-1085756552.jpg"></div>
    <div class="soil">What is the definition of soil quality?</div>
    
    <p class="center">Soil quality is … The capacity of a specific kind of soil to function, within natural or managed ecosystem boundaries, to sustain plant and animal productivity, maintain or enhance water and air quality, and support human health and habitation.
      Collecting a soil sample to measure soil quality. Photo courtesy of Penn State Extension.
Collecting a soil sample to measure soil quality. Photo courtesy of Penn State Extension.

Skip to the beginning of the images gallery
Soil health is the foundation of productive farming practices. Fertile soil provides essential nutrients to plants. Important physical characteristics of soil structure and aggregation allow water and air to infiltrate, and roots to explore. Soil health and soil quality are terms used interchangeably to describe soils that are not only fertile but also possess beneficial physical and biological properties. What is soil quality? Soil quality is how well soil does what we want it to do. Soil quality is the capacity of a specific kind of soil to function to sustain plant and animal productivity, maintain or enhance water and air quality, and support human health and habitation.

Soil fertility
Soil fertility is the ability of a soil to provide the nutrients needed by crop plants to grow. The primary nutrients plants take up from soils include nitrogen, phosphorus, potassium, calcium and magnesium. Frequently, we need to supplement soil nutrients by adding fertilizer, manure or compost, for good crop growth. Plants take up many other nutrients from soils, but there is usually enough of these secondary nutrients in the soil, so there is no need to add more.

Soil pH is another important aspect of soil fertility. pH is not a plant nutrient, but rather is a measure of the acidity of the soil. Most crops grow best when the soil pH falls between 6.2 and 6.8. This is the range in which plant roots can best absorb most nutrients from the soil.

Organic matter
Organic matter is composed of plant and animal residues, living and dead soil microorganisms, and substances produced through decomposition. Most agricultural soils contain only a small proportion of organic matter (usually less than 5%), but this small amount plays a very large role in soil quality. Soil organic matter tends to improve soil fertility, soil structure, and soil biological activity. Organic matter is added to soils through cover crops, manure, compost, and crop rotation.

Soil texture
Soil texture is an important soil characteristic that influences many aspects of soil quality. The textural class of a soil is determined by the percentage of sand, silt, and clay. Soils are usually made up of a mix of the three particle sizes. Sand particles are relatively large, clay particles are very tiny in comparison to sand, and silt particles are medium-sized. Clay and silt particles hold more water and plant nutrients along their surfaces than sand particles. Soil texture is an inherent property of a soil, and does not change under different management practices. Soils can be classified as one of four major textural classes: (1) sands; (2) silts; (3) loams; and (4) clays. These are based on the proportion of particle sizes found in each soil. 



Soil particles vary greatly in size, as shown in this illustration. Illustration courtesy of Meg DeBrito. 

Knowing the texture of a soil provides you with quite a bit of information about how well the soil holds water, holds and releases nutrients, and responds to different tillage practices. For example, a clay soil will hold more nutrients and more water compared to a sandy soil, but will be more susceptible to compaction from plowing and cultivating.

While soil texture is the proportion of the three soil particle types (sand, silt, and clay), soil structure refers to how those particles are arranged in space. We cannot change soil texture, but we can manage soils to improve soil structure. Soil with good structure has approximately 40-60% of its volume in pore space, or empty space between soil particles. Water and air can get into these pore spaces, and roots can grow into these spaces.

In a healthy soil, particles of sand, silt and clay aren't floating around by themselves. They are joined up with other particles, bits of organic matter, and small pore spaces into soil aggregates. Stronger, more stable aggregates stick together, even when hit by a raindrop or crushed by a footstep. A handful of healthy soil feels crumbly and light, due mostly to these stable aggregates.

Compaction
Soil compaction occurs when soil aggregates are pushed closer together, and pore spaces shrink. This usually occurs when heavy tractors, trucks and other machines are driven over soil, particularly if soils are wet. Soils can become compacted at the surface, but also at the layer of soil just below the depth of tillage (subsoil compaction).  Plants have difficulty growing in compacted soil because the soil aggregates are pressed together, leaving little pore space for air and water, which are essential for root growth. 



Plants do not grow well in compacted soils because there is less space between soil particles for roots to grow into. Illustration courtesy of Meg DeBrito. 

Water holding capacity
Soil water holding capacity is the amount of water that a given soil can hold and then make available for crop use. Water holding capacity is largely determined by soil texture and by the amount of pore spaces in the soil, where water and air can be found. Sandy soils have lower water holding capacity, while silt and clay soils tend to have higher water holding capacity. A crop grown in a sandy soil will need to be irrigated more frequently, but with less total water, than a crop grown in a clay or silty soil. A clay or silty soil will hold more water for the crop to use, so can be irrigated less frequently. Compacted soils have less pore space for the water, and therefore have lower water holding capacity. 

Soil biological activity
Healthy soils are teeming with living organisms: bacteria, fungi, insects, earthworms, etc. As these living things go through their life cycles, they perform many functions that help improve the quality of soil. Soil organisms decompose fresh organic matter such as crop residues and animal manures. In the process, they help soil particles stick together into stable aggregates. They also create humus, a form of organic matter that doesn't decompose further, that helps soils hold water and nutrients. Soils with higher biological activity tend to have fewer plant disease organisms. Earthworms tunnel through soils, opening up pathways for air and water to move into the soil. 

Soil conservation
When water from rainfall or irrigation washes over bare soil, or wind blows over bare soil, soil particles may be washed or blown away, out of the field. This process is called soil erosion; the farming practices we use to stop erosion are known as soil conservation practices. Healthy soil is a very valuable natural resource, and we don't want to lose soil out of our fields. Soil particles that erode from fields can cause environmental problems, such as polluting creeks, rivers, lakes and even oceans. Airborne soil particles can lower air quality, and cause respiratory illnesses. Farmers can protect soils from erosion by limiting the time when there is bare soil in the field, improving soil structure, and by managing tillage, irrigation and crop rotation.

Funded by USDA Specialty Crop Block Grant Project ME#44166076 – "Sustainable Production and Pest Management Innovations for Next Generation Young and Hispanic/Latino Specialty Crop Growers"

Authors
Lee Stivers
Former Extension Educator, Horticulture
Pennsylvania State Universi
    </p>
    
    
    </div>