<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
    <div class="container" id="flex">
        <div class="con">
            <p class="para">Agricultural practices:</p>
        <ul>
            <li class="head">Soil preparation.Before raising a crop,the soil in which it is to be grown is prepared by 
                ploughing, levelling, and manuring.</li>
             <li class="head">Sowing. Selection of seeds of good quality crop strains is the primary stage of sowing. ...</li>
             <li class="head">Manuring. ...</li>  
             <li class="head">Irrigation....</li>
             <li class="head">Weeding. ...</li>
             <li class="head">Harvesting. ...</li>
            <li class="head">Storage...</li>
            <li class="head">Agricultural practices mean basically a collection of principles to apply for farm production processes in order to get better agricultural products. They are simply practices used in agriculture to facilitate farming. Nowadays, decent agricultural practices are some of the methods applied to agriculture, it helps to create food for consumers as well as for safe further processing. Our farmers are the key persons for the cultivation of crops to provide food to the entire population.</li>
            </ul></div>
            
    
    <div class="sub1">
    <img align="right" src="https://www.researchgate.net/publication/322469720/figure/fig3/AS:582338963034112@1515851836099/Climate-smart-traditional-agricultural-practices.png" alt="" width="500px"  height="400"/>
    </div>
    
    
    </div>