<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
<div class="container">
    <div class=sub>
    <div class="adaptation">ADAPTATION OF CROP ROTATION:</div>
    
    <p>Adaptation may be morphological or physiological. (a) Morphological adaptation such as growth habit, strength of 
        stalk, radial symmetry, or rhizomes. (b) Physiological adaptation, which result in resistance to parasites, greater ability to
         compete for nutrients. or ability to withstand desiccation.</p>
    <p>During the past two decades, extensive agriculture, particularly soybean production, has progressively replaced other crops in 
    Argentina. This transformation was driven by economic, technological, environmental, and organizational factors, such as the 
    increasing demand for agricultural commodities, technological advances, organizational innovations, and climate fluctuations. 
    The expansion of soybean production has brought a substantial increase in agricultural revenue for Argentina. However, the
     predominance of soybean cultivation poses significant challenges, such as diminished soil fertility, reduction and increased 
     variability in crop yields, ecological imbalance, increased greenhouse gas (GHG) emissions, 
     and vulnerability to climate change.></p>
    <p>Crop rotation, particularly balanced crop rotation, may result in very large positive impacts on soybean yields, especially
     in unfavorable climatic conditions such as those experienced during the La Niña ENSO phase in Argentina. In addition to this 
     positive impact on agricultural productivity and climate adaptation, in some contexts crop rotation may also contribute to the 
     reduction of GHG emissions, increased input energy efficiency, and improved environmental outcome.></p>
    <p>The 2018 Argentinian Association of Regional Consortia for Agricultural Experimentation and Inter-American Development Bank 
    (AACREA-IADB) Integrated Crop Rotation Database compiled and harmonized the information from agricultural diaries kept by Regional 
    Consortia for Agricultural Experimentation (CREA) members in Argentina from 1998 to 2016. This new consolidated data set has 
    replaced previous regional templates, and it is expected to continue to be expanded with new information periodically, offering 
    opportunities for further research on the impact of crop rotation on climate adaptation and on other topics in agricultural and 
    environmental economics.
    </p>
    </div>
</div>