.toolbar{
    background-color: green;
    padding:10px;
}
.menus{
    display:flex;
}
.menus a{
    text-decoration: none; 
  color: #bea3a3; 
  padding: 8px 12px; 
  margin-right: 10px; 
  border-radius: 4px; 
}
.menus a:hover {
    background-color: #3bcf44;
    color:black;
}
.sub{
    padding-left: 0px;
    padding-top: 40px;
    font-size: 20px;
    color:whitesmoke;
}
.container{
    background-image: url("https://imgnew.outlookindia.com/public/uploads/articles/2021/10/25/food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    width: 500vh;
}
.adaptation{
    font-size: 30px;
    color:black;
    padding-top: 20px;
    font-style: italic;
    align-items:baseline;
}
p{
    color:#2d032e;
}
