<div class="toolbar">
    <div class="menus">
    <a routerLink="../home">Home</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
           <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geography
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
           <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
           <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
           <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
           <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practices
        </button>
        <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
           <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
           <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
           <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
           <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
           <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
        </ul>
      </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>

    <div class="row">
        <div class="cards">
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/kavya.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>P.Kavya</h1>
                      <p>kavyapeddi99@gmail.com<br>
                        9704735905</p>
                  </div>
              </div>
          </div>
      
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/harshi2.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>T.Harshitha</h1>
                      <p>
                        harshithatanniru95@gmail.com<br>
                        8121814391
                      </p>
                  </div>
              </div>
          </div>
      
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/anjali3.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>G.Siva anjali</h1>
                      <p>gurramsivaanjali2004@gmail.com
                        <br>
                        9573369415
                      </p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/pooji2.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>B.Poojitha</h1>
                      <p>bandipoojitha7702@gmail.com<br>
                        9398187082</p>
                  </div>
              </div>
          </div>
      
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/pooja2.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>B.Pooja</h1>
                      <p>bollapooja42@gmail.com<br>
                        8008482356</p>
                  </div>
              </div>
          </div>
      
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">
                      <img src="../../assets/chandana.jpg" style="width: 100%; height: 100%;">
                  </div>
                  <div class="card-back">
                      <h1>S.Chandana</h1>
                      <p>sripathichandana2@gmail.com<br>
                        7995213575</p>
                  </div>
              </div>
          </div>
      
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../../assets/sai2.jpg" style="width: 100%; height: 100%;">
                </div>
                <div class="card-back">
                    <h1>S.Sailatha</h1>
                    <p>sailathasankuru@gmail.com<br>
                    9849682179
                    </p>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="../../assets/sweta.jpg" style="width: 100%; height: 100%;">
            </div>
            <div class="card-back">
                <h1>P.Swetha lakshmi</h1>
                <p>swethalakshmiparuchuri@gmail.com<br>
                    9347155061</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="../../assets/bhagi.jpg" style="width: 100%; height: 100%;">
            </div>
            <div class="card-back">
                <h1>P.Bhagyalakshmi</h1>
                <p>pbhagya2003@gmail.com<br>
                    7780470095</p>
            </div>
        </div>
    </div>
    </div>      
      </div>
