<div class="toolbar">
    <div class="menus">
        <a routerLink="/home">Home</a>
      <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Services
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
            <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
         </ul>
       </div>
       <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Geography
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
            <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
            <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
            <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
            <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
         </ul>
       </div>
       <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Practices
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
            <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
            <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
            <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
            <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
            <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
         </ul>
       </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
<div class="con">
    <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBbtCIw6-3Wchmzyo2b_PbY4jGMHz2CtCsvg&usqp=CAU">
    <h1 class="head">Habits of crop Rotation</h1>
    <p class="style">Crop rotation is the practice of growing a series of different types of crops in the same area across a sequence of growing seasons. This practice reduces the reliance of crops on one set of nutrients, pest and weed pressure, along with the probability of developing resistant pests and weeds.
    
        Growing the same crop in the same place for many years in a row, known as monocropping, gradually depletes the soil of certain nutrients and selects for both a highly competitive pest and weed community. Without balancing nutrient use and diversifying pest and weed communities, the productivity of monocultures is highly dependent on external inputs that may be harmful to the soils fertility. Conversely, a well-designed crop rotation can reduce the need for synthetic fertilizers and herbicides by better using ecosystem services from a diverse set of crops. Additionally, crop rotations can improve soil structure and organic matter, which reduces erosion and increases farm system resilience.</p>
    </div>
