<div class="toolbar">
    <div class="menus">
        <a routerLinkActive="home">Home</a>
      <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Services
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../insert">Insert</a></li>
            <li><a class="dropdown-item" routerLink="../read">Get All</a></li>
         </ul>
       </div>
       <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Geography
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../cropregion">CropRegion</a></li>
            <li><a class="dropdown-item" routerLink="../rainfall">Rainfall</a></li>
            <li><a class="dropdown-item" routerLink="../temperature">Temperature</a></li>
            <li><a class="dropdown-item" routerLink="../soil">Soil</a></li>
            <li><a class="dropdown-item" routerLink="../seasonal">Seasonal</a></li>
         </ul>
       </div>
       <div class="dropdown">
         <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Practices
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../fertilizers">Fertilizers</a></li>
            <li><a class="dropdown-item" routerLink="../croprotation">CropRotation</a></li>
            <li><a class="dropdown-item" routerLink="../adaptation">Adaptation</a></li>
            <li><a class="dropdown-item" routerLink="../frequency">Frequency</a></li>
            <li><a class="dropdown-item" routerLink="../timeperiod">TimePeriod</a></li>
            <li><a class="dropdown-item" routerLink="../recommends">Recommendations</a></li>
         </ul>
       </div>
    <a routerLink="../contactus">ContactUS</a>
    <a routerLink="../agriculture">Agricultures</a>
    <a routerLink="../impacts">Impacts</a>
    <a routerLink="../benefits">Benefits</a>
    <a routerLink="../habits">Habits</a>
    <a routerLink="../investments">Investments</a>
    <a routerLink="../constraints">Constraints</a>
    <a routerLink="../about">Aboutus</a>
    <a routerLink="../graphs">Graphs</a>
    <a routerLink="../feedback">feedback</a>
    <a routerLink="../firstpage">LogOut</a>
    </div>
    </div>
    <div class="container">
        
        <h1 class="head">What is Crop Rotation?</h1>
        <ul class="para">
        <li class="para1">Crop rotation is the practice of growing a series of dissimilar </li>
        <div class="row">
          <div class="cards">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/mirchi.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Chilli Crop</h1>
                        <p>Chilli is used as a principal ingredient in various curries, 
                            also used in vegetables, spices, condiments, and pickles.
                         Pungency in chillies is due to the active constituent "Capsaicin," an alkaloid.</p>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/cotton.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Cotton Crop</h1>
                        <p>Rotate your cotton crop as needed with other field or vegetable crops to maintain soil productivity and reduce the incidence of various cotton pests.</p>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/tomato.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Tomato Crop</h1>
                        <p>Tomatoes rive in soil rich in minerals and micronutrientsincluding phosphorus, calcium and magnesium.
                            Ph should be of 5.8 to 7.0.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/corn.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Corn Crop</h1>
                        <p>Beside soyabeans, we can rotate maize with cowpeas; brassicas such as kales, cabbages, cauliflower, solanaceae crops such as potatoes and eggplant.</p>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/rice2.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Rice Crop</h1>
                        <p>In paddy-upland rotation system, paddy rice is generally cultivated int the summer season (late june to October) followed by upland crops in the winter.</p>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../../assets/sugarcane.jpg" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-back">
                        <h1>Sugarcane Crop</h1>
                        <p>I heavy rainfall areas sugar cane is rotated with rice. In low rainfall areas sugarcane is rotated with cotton.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
        <li class="para1">different types of crops in the same area in sequenced seasons</li>  
           <li class="para1"> It helps in reducing soil erosion and increases soil fertility and crop yield</li>
        <li class="para1">It is done so that the soil of farms is not used for only one set of nutrients</li>
        </ul>
        
        <h1 class="head">Importance of Crop Rotation:</h1>
        <ul>
        <li class="para1">it is the process of sequentially planting different crops</li>
        <li class="para1">In the same plot toimpr ove soil health, optimize soil nutrients</li>
        <li class="para1">and counteract the pressure of pests and weeds Improves soil workability</li>
        </ul>
        <h1 class="head">DETAILS ABOUT CROP ROTATION</h1>
        <ul>
           <li class="para1"> Crop rotation is the practice of growing a series of crops</li>
           <li class="para1">different types of crops in the same area across a sequence of growing seasons</li>
           <li class="para1"> This practice reduces the reliance of crops on one set of nutrients, pest and weed pressure</li>
        
        </ul>
        </div>
    <router-outlet></router-outlet>